
@import url("background.css");

.header {
    background-color: whitesmoke;opacity: 0.7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 5px; 
        }

.menunav {
    display:flex;
    justify-content:center;
    background-color: whitesmoke;
         }

.menu {
            text-align: center;
    border: 0.5px solid #bbb;
    
        }

.menu:hover {
    background-color:grey;
    }


h3 {
    color: burlywood;
    }
    
.column {
        float: left;
        width: 49%;
        border: 5px;
        margin: 2px;
        text-align: center;
        background-color: whitesmoke;                         
        }

       p{
           color: black;
        }

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:whitesmoke;opacity: 0.7;
  text-align: center;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}