
body {
    background-color: lightblue;
    background-image: url(pexels.jpeg);
    
    }

header {
    text-align: center;
    color: whitesmoke;
}

h1 {
    color: white;
}
p {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: white;
}

.global1 {
    display:flex;
    margin: auto;
    width: 40%;
    padding-left:200px;
    
       }
.global2 {
    display:flex;
    margin: auto;
    width: 40%; 
        }

.box {
    margin: auto;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    height: 100px;
    text-align: center;
}

.box:hover {
    background-color:lightgray;
    transform: scale(1.2);
    }

img {
    border-radius: 10px;
}

footer {
    color: white;
    text-align: center;
}



